[submodule "plugins/storage"]
	path = plugins/storage
	url = https://github.com/nos/core-plugin-storage
[submodule "plugins/stake-transactions"]
	path = plugins/stake-transactions
	url = https://github.com/nos/core-plugin-staking
