[submodule "plugins/stake-transactions"]
	path = plugins/stake-transactions
	url = https://github.com/nos/core-stake-plugin
[submodule "plugins/storage"]
	path = plugins/storage
	url = https://github.com/ARKEcosystem/core-storage-plugin